
<section class="container-fluid">
  <section class="col-5 mt-5 ml-5 " id="phone-outline"> 
      <article class= "row">
          <article class="col-12 mt-4">
          <p type="text" id="phone-display" class="form-control form-group">
            {{this.buttonsPressed}}
          </p>
          <span (click)="backspace()">
            <i class="fas fa-backspace d-flex justify-content-end mb-4" id="btn-backspace"></i>
        </span>    
      </article>
    </article>
        <article class="row" id="phone-buttons">
          <li type="none"  *ngFor="let button of buttons" class="col-4 form-group">
              <button [disabled]="!onCall" class="btn btn-light form-control"  (click)="getKeys(button)">
                  {{button}}
              </button>
            </li>
            <li type="none" class="col-12 form-group">
            <button (click)="call()" [ngClass]="{'btn-outline-success': !onCall, 'btn-outline-danger': onCall }" class="form-control btn">{{buttonMessage}}</button> 
          </li>
    </article> 
  </section>
</section>


