<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/node_modules/@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
<section class="container row" id="phone-outline">
  <article class="col-sm-10" id="phone-display">
    <article class="col-sm-2 mt-3" id="phone-buttons">
      <input type="text" class="col mt-2" disabled [value]="buttonsPressed">
      <li type="none" class="btn btn-light mt-2 ml-1" *ngFor="let button of buttons" (click)="getKeys(button)">{{button}}</li>
      <li type="none" class="btn btn-outline-danger mt-2 ml-1 mb-3">Dismiss call</li> 
    </article> 
  </article>
</section>


