<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<section class="container row" id="phone-outline">
  <article class="col-sm-10" id="phone-display">
    <article class="col-sm-2" id="phone-buttons">
      <li type="none" class="btn btn-light" *ngFor="let button of buttons">{{button}}</li>
      <li type="none" class="btn btn-success" style="margin-left: 20%;">Call</li> 
    </article> 
  </article>
</section>


